
<!DOCTYPE html>
<html>
<head>
    <title>采集状况查询</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    @using System.Web.Optimization;
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquerytools")
    @Styles.Render("~/Content/jquerytools")

    <!--常用的一些组件业务脚本函数,放置此处方便脚本提示-->
    <script src="~/Scripts/ComponentUtil.js"></script>

    <script type="text/javascript">
        $(function () {
            initDeptTreeview();            
            InitGrid();
            BindSearchEvent();
        });

        var easyui_tree_options = {
            length: 0,  //层数
            getLevel: function (treeObj, node) {	//treeObj为tree的dom对象，node为选中的节点
                while (node != null) {
                    node = $(treeObj).tree('getParent', node.target)
                    easyui_tree_options.length++;
                }
                var length1 = easyui_tree_options.length;
                easyui_tree_options.length = 0;		//重置层数
                return length1;
            }
        }
        function initDeptTreeview() {
            $("#loading").show();
            $('#treeDept1').tree({
                url: '/ArcCustomerInfo/TreeCommunity_Server',
                onBeforeSelect: function (node) {
                    fujiText = node.text;
                },
                onClick: function (node) {

                    var Text = $("#treeDept1").tree("getParent", node.target);

                    var Treelevel = easyui_tree_options.getLevel(this, node);

                    var ParentText = "";

                    if (Treelevel == 4) {

                        ParentText = $("#treeDept1").tree("getParent", Text.target)

                    }
                    var queryData = {
                        WHC_VcMobile: $("#VcMobile").val(),
                        WHC_NvcName: $("#NvcName").val(),
                        WHC_IntCustNo: $("#IntCustNo").val(),
                        WHC_StratDteFreeze: $("#StartDteFreeze").datebox("getValue"),
                        WHC_EndDteFreeze: $("#EndDteFreeze").datebox("getValue"),
                        WHC_Fuji: Text.text,
                        WHC_Text: node.text,
                        WHC_Treelevel: Treelevel.toString(),
                        WHC_TreePrentText: ParentText.text
                    };
                    InitGrid(queryData);
                }
            });
            $("#loading").fadeOut(500);
        }

        //实现对DataGird控件的绑定操作
        function InitGrid(queryData) {
            $('#grid').datagrid({   //定位到Table标签，Table标签的ID是grid
                url: '/ArcMeterReading/CollectStatJson_Server',   //指向后台的Action来获取当前用户的信息的Json格式的数据
                title: '  ',
                iconCls: 'icon-view',
                height: document.body.clientHeight - 72,
                width: function () { return document.body.clientWidth * 0.9 },//自动宽度
                nowrap: true,
                autoRowHeight: true,
                striped: true,
                collapsible: true,
                pagination: true,
                pageSize: 50,
                pageList: [50, 100, 200],
                rownumbers: true,
                //sortName: 'ID',    //根据某个字段给easyUI排序
                sortOrder: 'asc',
                remoteSort: false,
                //idField: 'ID', //不设置idField，翻页不会记录选择
                queryParams: queryData,  //异步查询的参数
                columns: [[
                    { title: 'ID', field: 'IntID', width: 80, sortable: true, hidden: true },
                    { title: '用户编号', field: 'IntCustNo', width: 80, sortable: true },
                    { title: '用户姓名', field: 'NvcName', width: 80, sortable: true },
                    { title: '用户小区', field: 'NvcVillage', width: 80, sortable: true },
                    { title: '用户楼栋', field: 'VcBuilding', width: 80, sortable: true },
                    { title: '用户单元', field: 'VcUnitNum', width: 80, sortable: true },
                    { title: '用户门牌号', field: 'VcRoomNum', width: 80, sortable: true },
                    {
                        title: '用量', field: 'Reading', width: 80, sortable: true,
                        formatter: function (val) { return val.toFixed(2) }
                    }
                ]],
                onLoadSuccess: function () { },
                onDblClickRow: function (rowIndex, rowData) { }
            });
        };

        function getTotleDetail() {
            var start = $("#StartDteFreeze").datebox("getValue");
            var end = $("#EndDteFreeze").datebox("getValue");
            if (!start || !end) {
                alert("开始日期或结束日期不能为空!");
                return false;
            }
            var queryData = {
                WHC_VcMobile: $("#VcMobile").val(),
                WHC_NvcName: $("#NvcName").val(),
                WHC_IntCustNo: $("#IntCustNo").val(),
                WHC_StratDteFreeze: start,
                WHC_EndDteFreeze:end,
            }
            $.ajax({
                url: '/ArcMeterReading/CollectStatJsonTotal_Server',
                type: 'post',
                dataType: 'json',
                data: queryData,
                success: function (json) {
                    var data1 = JSON.parse(json.Data1);
                    var data2 = JSON.parse(json.Data2);
                    var summoney=data2.toFixed(2);
                    var Newtitle = '用水日期  【' + start + ' 至 ' + end + '】 总用水户 【' + data1 + '】  总用水量  【' + summoney + ' 吨 】';
                    $('#grid').datagrid("getPanel").panel("setTitle", Newtitle)
                }
            });
        }

        //绑定搜索按钮的的点击事件
        function BindSearchEvent() {
            //按条件进行查询数据，首先我们得到数据的值
            $("#btnSearch").click(function () {
                //得到用户输入的参数
                //取值有几种方式：$("#id").combobox('getValue'), $("#id").datebox('getValue'), $("#id").val()
                //字段增加WHC_前缀字符，避免传递如URL这样的Request关键字冲突
                var queryData = {
                    WHC_VcMobile: $("#VcMobile").val(),
                    WHC_NvcName: $("#NvcName").val(),
                    WHC_IntCustNo: $("#IntCustNo").val(),
                    WHC_StratDteFreeze: $("#StartDteFreeze").datebox("getValue"),
                    WHC_EndDteFreeze: $("#EndDteFreeze").datebox("getValue"),
                }
                getTotleDetail();
                //将值传递给
                InitGrid(queryData);
                return false;
            });
        }
    </script>

    <style>
        table.view {
            border: 1px solid #A8CFEB;
            border-collapse: collapse;
            margin-bottom: 5px;
            vertical-align: top;
            height: 98%;
            width: 98%;
        }

        .view th {
            padding-left: 10px;
            padding-right: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            height: 23px;
            width: 150px;
            border: 1px solid silver;
            background-color: #F1F6FF;
        }

        .view td {
            padding-left: 10px;
            padding-right: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            height: 23px;
            width: 150px;
            border: 1px solid silver;
            background-color: #FAFCFF;
        }

        .view input {
            width: 99%;
        }
    </style>
</head>
<body>

    <div id="loading" style="display: none;"><img alt="数据正在加载中..." src="~/Content/images/loading02.gif" /></div>
    <div class="easyui-layout" style="width:700px;height:700px;" fit="true">
        <div data-options="region:'west',split:true,title:'',iconCls:'icon-book'" style="width: 230px; padding: 1px;">
            <div class="easyui-tabs" style="width:200px;">
                <div title="用户列表" style="padding:10px">
                    <ul id="treeDept1"></ul>
                </div>
            </div>
        </div>
        <div id="tb" data-options="region:'center',title:'',iconCls:'icon-book'" style="padding:5px;height:auto">
            <!-------------------------------搜索框----------------------------------->
            <fieldset>
                <legend>用水量数据查询</legend>
                <form id="ffSearch" method="post">
                    <div id="toolbar">
                        <table cellspacing="0" cellpadding="0">
                            <tr>
                                <th style='padding: 3px;'>
                                    <label for="IntCustNO">用户编号：</label>
                                </th>
                                <td style='padding: 3px;'>
                                    <input type="text" id="IntCustNo" class="easyui-numberbox" style="width: 130px" maxlength="16" />
                                </td>
                                <th style='padding: 3px;'>
                                    <label for="NvcName">用户名：</label>
                                </th>
                                <td style='padding: 3px;'>
                                    <input type="text" id="NvcName" class="text-info" style="width: 130px" />
                                </td>
                                <th style='padding: 3px;'>
                                    <label for="VcAddr">电话号码：</label>
                                </th>
                                <td style='padding: 3px;'>
                                    <input type="text" id="VcMobile" class="easyui-numberbox" style="width: 130px" maxlength="16" />
                                </td>
                                <th style='padding:3px;'><label for="VcAddr">日期：</label></th>
                                <td style='padding:3px;'><input type="text" class="easyui-datebox" id="StartDteFreeze" value="true" style="width:100px" /></td>
                                <th style='padding:3px;'><label for="IntCustNo">至</label></th>
                                <td style='padding:3px;'><input type="text" class="easyui-datebox" id="EndDteFreeze" value="true" style="width:100px" /></td>
                                <td style='padding:3px;text-align:right'>
                                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="btnSearch">查询</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </fieldset>

            <!-------------------------------详细信息展示表格----------------------------------->
            <table id="grid" style="width: 940px" title="用户操作" data-options="iconCls:'icon-view'"></table>
        </div>
    </div>

    <div style="display:none;">
        <!--------------------------添加信息的弹出层---------------------------->
        <div id="DivAdd" class="easyui-dialog" style="width:750px;height:99%;padding:5px 5px"
             closed="true" resizable="true" modal="true" data-options="iconCls: 'icon-add'">

        </div>

        <!--------------------------编辑信息的弹出层---------------------------->
        <div id="DivEdit" class="easyui-dialog" style="width:850px;height:630px;padding:5px 5px"
             closed="true" resizable="true" modal="true" data-options="iconCls: 'icon-edit'">
            <div id="tabEditUser" class="easyui-tabs">

            </div>
        </div>

        <!--------------------------查看详细信息的弹出层---------------------------->
        <div id="DivView" class="easyui-dialog" style="width:840px;height:650px;padding:5px 5px"
             closed="true" resizable="true" modal="true" data-options="iconCls: 'icon-view'">
            <div id="tabViewUser" class="easyui-tabs">

            </div>
        </div>
    </div>
</body>
</html>
