<!DOCTYPE html>
<html>
<head>
    <title>采集曲线图</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    @using System.Web.Optimization;
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquerytools")
    @Styles.Render("~/Content/jquerytools")

    <script src="/Content/JQueryTools/Highcharts/js/highcharts.js"></script>
    <script src="/Content/JQueryTools/Highcharts/js/modules/exporting.js"></script>
    <!--<script src="/Content/JQueryTools/Highcharts/js/themes/grid.js"></script>
    <script src="/Content/JQueryTools/Highcharts/js/highcharts-more.js"></script>
    <script src="/Content/JQueryTools/Highcharts/js/highcharts-3d.js"></script>-->


    <!--常用的一些组件业务脚本函数,放置此处方便脚本提示-->
    <script src="~/Scripts/ComponentUtil.js"></script>

    <script type="text/javascript">

        $(function () {
            BindSearchEvent();

            $("#divChart").height($(window).height() - 77);
        });

        //绑定搜索按钮的的点击事件
        function BindSearchEvent() {
            //按条件进行查询数据，首先我们得到数据的值
            $("#btnSearch").click(function () {
                //得到用户输入的参数
                //取值有几种方式：$("#id").combobox('getValue'), $("#id").datebox('getValue'), $("#id").val()
                //字段增加WHC_前缀字符，避免传递如URL这样的Request关键字冲突
                var start = $("#DteFreezeStart").datebox("getValue");
                var end = $("#DteFreezeEnd").datebox("getValue");

                if (!start || !end) {
                    showError("请把日期选择完整!");
                    return;
                }

                var queryData = {
                    dtStart: start,
                    dtEnd: end
                }

                loading.show();
                $.ajax({
                    type: 'post',
                    url: '/ArcMeterReading/CollectChartJson',
                    data: queryData,
                    dataType: 'json',
                    success: function (json) {
                        loading.hide();
                        initChart(json);
                    },
                    error: function () {
                        loading.hide();
                        showError("网络错误!");
                    }
                });
            });
        }
        function initChart(json) {
            $("#divChart").highcharts({
                title: {
                    text: null
                },
                xAxis: {
                    categories: json.categories
                },
                yAxis: {
                    title: {
                        text: '用量'
                    }
                },
                tooltip: {
                    //valueSuffix: '°C'
                },
                legend: {
                    //layout: 'vertical',
                    //align: 'right',
                    // verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: json.series
            });
        }


    </script>


</head>
<body>

    <div id="loading" style="display: none;">
        <img alt="数据正在加载中..." src="~/Content/images/loading02.gif" />
    </div>
    <div class="easyui-layout" style="width: 700px; height: 700px;" fit="true">

        <div id="tb" data-options="region:'center',title:'',iconCls:'icon-book'" style="padding: 5px; height: auto">
            <!-------------------------------搜索框----------------------------------->
            <fieldset>
                <legend>日冻结数据查询</legend>
                <form id="ffSearch" method="post">
                    <div id="toolbar">
                        <table cellspacing="0" cellpadding="0">
                            <tr>
                                <th style='padding: 3px;'>
                                    <label for="VcAddr">冻结日期：</label></th>
                                <td style='padding: 3px;'>
                                    <input type="text" class="easyui-datebox" id="DteFreezeStart" style="width: 100px" /></td>
                                <th style='padding: 3px;'>
                                    <label for="IntCustNo">至</label></th>
                                <td style='padding: 3px;'>
                                    <input type="text" class="easyui-datebox" id="DteFreezeEnd" style="width: 100px" /></td>
                                <td style='padding: 3px; text-align: right'>
                                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="btnSearch">查询</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </fieldset>

            <!-------------------------------详细信息展示表格----------------------------------->
            <div id="grid" title="采集曲线图" data-options="iconCls:'icon-view'">
                <div id="divChart" style="height: 500px; max-width: 98%"></div>

            </div>
        </div>
    </div>

    <div style="display: none;">
        <!--------------------------添加信息的弹出层---------------------------->
        <div id="DivAdd" class="easyui-dialog" style="width: 750px; height: 99%; padding: 5px 5px"
            closed="true" resizable="true" modal="true" data-options="iconCls: 'icon-add'">
        </div>

        <!--------------------------编辑信息的弹出层---------------------------->
        <div id="DivEdit" class="easyui-dialog" style="width: 850px; height: 630px; padding: 5px 5px"
            closed="true" resizable="true" modal="true" data-options="iconCls: 'icon-edit'">
            <div id="tabEditUser" class="easyui-tabs">
            </div>
        </div>

        <!--------------------------查看详细信息的弹出层---------------------------->
        <div id="DivView" class="easyui-dialog" style="width: 840px; height: 650px; padding: 5px 5px"
            closed="true" resizable="true" modal="true" data-options="iconCls: 'icon-view'">
            <div id="tabViewUser" class="easyui-tabs">
            </div>
        </div>
    </div>
</body>
</html>
