
<!DOCTYPE html>
<html>
<head>
    <title>日冻结数据查询</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    @using System.Web.Optimization;
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquerytools")
    @Styles.Render("~/Content/jquerytools")

    <!--常用的一些组件业务脚本函数,放置此处方便脚本提示-->
    <script src="~/Scripts/ComponentUtil.js"></script>

    <script type="text/javascript">
        var isAddOrEdit = 'add';//标识是新增还是编辑对话框弹出，用于删除附件的操作
        var sNvcVillage = "";
        var sVcBuilding = "";
        $(function () {
            initDeptTreeview();
            InitGrid();
        });

        var easyui_tree_options = {
            length: 0,  //层数
            getLevel: function (treeObj, node) {	//treeObj为tree的dom对象，node为选中的节点
                while (node != null) {
                    node = $(treeObj).tree('getParent', node.target)
                    easyui_tree_options.length++;
                }
                var length1 = easyui_tree_options.length;
                easyui_tree_options.length = 0;		//重置层数
                return length1;
            }
        }

        function initDeptTreeview() {
            $("#loading").show();
            $('#treeDept1').tree({
                url: '/ArcCustomerInfo/TreeCommunity_Server',
                onBeforeSelect: function (node) {
                    fujiText = node.text;
                },
                onClick: function (node) {

                    var Text = $("#treeDept1").tree("getParent", node.target);

                    var Treelevel = easyui_tree_options.getLevel(this, node);

                    var ParentText = "";

                    if (Treelevel == 4) {

                        ParentText = $("#treeDept1").tree("getParent", Text.target)

                    }
                    var queryData = {
                        WHC_VcMobile: $("#VcMobile").val(),
                        WHC_NvcName: $("#NvcName").val(),
                        WHC_IntCustNo: $("#IntCustNo").val(),
                        WHC_StratDteFreeze: $("#StartDteFreeze").datebox("getValue"),
                        WHC_EndDteFreeze: $("#EndDteFreeze").datebox("getValue"),
                        WHC_Fuji: Text.text,
                        WHC_Text: node.text,
                        WHC_Treelevel: Treelevel.toString(),
                        WHC_TreePrentText: ParentText.text
                    };
                    InitGrid(queryData);
                }
            });
            $("#loading").fadeOut(500);
        }

        //实现对DataGird控件的绑定操作
        function InitGrid(queryData) {
            $('#grid').datagrid({   //定位到Table标签，Table标签的ID是grid
                url: '/ArcMeterReading/ListJson_Server',   //指向后台的Action来获取当前用户的信息的Json格式的数据
                title: '日冻结数据查询',
                iconCls: 'icon-view',
                height: document.body.clientHeight * 0.9,
                width: function () { return document.body.clientWidth * 0.9 },//自动宽度
                nowrap: true,
                autoRowHeight: true,
                striped: true,
                collapsible: true,
                pagination: true,
                pageSize: 50,
                pageList: [50, 100, 200],
                showRefresh: false,
                //onBeforeRefresh: false,
                rownumbers: true,
                //sortName: 'ID',    //根据某个字段给easyUI排序
                sortOrder: 'asc',
                remoteSort: false,
                //idField: 'ID', //不设置idField，翻页不会记录选择
                queryParams: queryData,  //异步查询的参数
                columns: [[
                    {
                        title: '冻结日期', field: 'DteFreeze', width: 120, sortable: true,
                        formatter: function (val, rowObj, index) {
                           return val == "9999-09-09 00:00:00" ? "-" : val.substring(0, 10);
                        }
                    },
                    { title: '读数', field: 'NumReading', width: 80, sortable: true },
                    { title: 'ID', field: 'IntID', width: 80, sortable: true, hidden: true },
                    { title: '用户编号', field: 'IntCustNo', width: 80, sortable: true },
                    { title: '用户姓名', field: 'NvcName', width: 80, sortable: true },
                    { title: '用户小区', field: 'NvcVillage', width: 80, sortable: true },
                    { title: '用户楼栋', field: 'VcBuilding', width: 80, sortable: true },
                    { title: '用户单元', field: 'VcUnitNum', width: 80, sortable: true },
                    { title: '用户门牌号', field: 'VcRoomNum', width: 80, sortable: true },
                    { title: '表通信地址', field: 'VcAddr', width: 150, sortable: true },
                    //{ title: '客户编号', field: 'IntCustNo', width: 150, sortable: true },
                    //{ title: '读取日期', field: 'DteReading', width: 180, sortable: true },

                    { title: '状态码', field: 'Word', width: 80, sortable: true },
                    {
                        title: '表状态', field: 'IntStatus', width: 80, sortable: true,
                        formatter: function (val, rowObj, index) {
                            if (val == "0") return "在用";
                            else return "停用";
                        }
                    },
                    // { title: '最后更新时间', field: 'DtLastUpd', width: 150, sortable: true },
                    //{ title: '创建时间', field: 'DtCreate', width: 180, sortable: true },
                    { title: '备注', field: 'VcDesc', align: 'center', width: 100, sortable: true }
                ]],
                onLoadSuccess: function () {
                },
                onDblClickRow: function (rowIndex, rowData) {

                }
            })
        };

        //绑定搜索按钮的的点击事件
        function SearchEvent() {
            var queryData = {
                WHC_VcMobile: $("#VcMobile").val(),
                WHC_NvcName: $("#NvcName").val(),
                WHC_IntCustNo: $("#IntCustNo").val(),
                WHC_StratDteFreeze: $("#StartDteFreeze").datebox("getValue"),
                WHC_EndDteFreeze: $("#EndDteFreeze").datebox("getValue"),
            };
            InitGrid(queryData);
            return false;
        }
    </script>

    <style>
        table.view {
            border: 1px solid #A8CFEB;
            border-collapse: collapse;
            margin-bottom: 5px;
            vertical-align: top;
            height: 98%;
            width: 98%;
        }

        .view th {
            padding-left: 10px;
            padding-right: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            height: 23px;
            width: 150px;
            border: 1px solid silver;
            background-color: #F1F6FF;
        }

        .view td {
            padding-left: 10px;
            padding-right: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            height: 23px;
            width: 150px;
            border: 1px solid silver;
            background-color: #FAFCFF;
        }

        .view input {
            width: 99%;
        }
    </style>
</head>
<body>
    <div id="loading" style="display: none;"><img alt="数据正在加载中..." src="~/Content/images/loading02.gif" /></div>
    <div class="easyui-layout" style="width:700px;height:700px;" fit="true">
        <div data-options="region:'west',split:true,title:'',iconCls:'icon-book'" style="width: 230px; padding: 1px;">
            <div class="easyui-tabs" style="width:200px;">
                <div title="用户列表" style="padding:10px">
                    <ul id="treeDept1"></ul>
                </div>
            </div>
        </div>
        <div id="tb" data-options="region:'center',title:'',iconCls:'icon-book'" style="padding:5px;height:auto">
            <!-------------------------------搜索框----------------------------------->
            <fieldset>
                <legend>日冻结数据查询</legend>
                <form id="ffSearch" method="post">
                    <div id="toolbar">
                        <table cellspacing="0" cellpadding="0">
                            <tr>
                                <th style='padding: 3px;'>
                                    <label for="IntCustNO">用户编号：</label>
                                </th>
                                <td style='padding: 3px;'>
                                    <input type="text" id="IntCustNo" class="easyui-numberbox" style="width: 130px" maxlength="16" />
                                </td>
                                <th style='padding: 3px;'>
                                    <label for="NvcName">用户名：</label>
                                </th>
                                <td style='padding: 3px;'>
                                    <input type="text" id="NvcName" class="text-info" style="width: 130px" />
                                </td>
                                <th style='padding: 3px;'>
                                    <label for="VcAddr">电话号码：</label>
                                </th>
                                <td style='padding: 3px;'>
                                    <input type="text" id="VcMobile" class="easyui-numberbox" style="width: 130px" maxlength="16" />
                                </td>

                                <th style='padding:3px;'>
                                    <label for="DteFreezd">日期：</label>
                                </th>
                                <td style='padding:3px;'>
                                    <input type="text" class="easyui-datebox" id="StartDteFreeze" style="width:100px" value="true" />
                                </td>
                                <th style='padding:3px;'>
                                    <label for="DteFreezd">-</label>
                                </th>
                                <td style='padding:3px;'>
                                    <input type="text" class="easyui-datebox" id="EndDteFreeze" style="width:100px" value="true" />
                                </td>
                                <td style='padding:3px;text-align:right'>
                                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="btnSearch" onclick="SearchEvent()">查询</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </fieldset>
            <!-------------------------------详细信息展示表格----------------------------------->
            <table id="grid" style="width: 940px" title="用户操作" data-options="iconCls:'icon-view'"></table>
        </div>
    </div>
</body>
</html>
