
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title</title>
    <script src="/Content/JqueryEasyUI-New/jquery.min.js"></script>
    <script src="/Content/JqueryEasyUI-New/jquery.easyui.min.js"></script>
    <script src="/Content/JqueryEasyUI-New/locale/easyui-lang-zh_CN.js"></script>
    <script src="/Content/datapattern.js"></script>

    <link href="/Content/JqueryEasyUI-New/themes/default/easyui.css" rel="stylesheet" />
    <link href="/Content/JqueryEasyUI-New/themes/icon.css" rel="stylesheet" />
    <link href="/Content/icons-customed/16/icon.css" rel="stylesheet" />
    <link href="/Content/icons-customed/24/icon.css" rel="stylesheet" />
    <link href="/Content/icons-customed/32/icon.css" rel="stylesheet" />
    <link href="/Content/themes/Default/style.css" rel="stylesheet" />
    <link href="/Content/themes/Default/default.css" rel="stylesheet" />

    <script src="/Content/JQueryTools/jQuery.easyui-extend/jquery.easyui.extend.min.js"></script>
    <script src="/Content/JQueryTools/jNotify/jquery/jNotify.jquery.js"></script>
    <script src="/Content/JQueryTools/Tags-Input/jquery.tagsinput.js"></script>
    <script src="/Content/JQueryTools/uploadify/jquery.uploadify.js"></script>
    <script src="/Content/JQueryTools/LODOP/CheckActivX.js"></script>
    <script src="/Content/JQueryTools/ckeditor/ckeditor.js"></script>
    <script src="/Content/JQueryTools/ckeditor/adapters/jquery.js"></script>

    <link href="/Content/JQueryTools/jQuery.easyui-extend/extend/themes/easyui.extend.css" rel="stylesheet" />
    <link href="/Content/JQueryTools/jQuery.easyui-extend/extend/themes/icon.css" rel="stylesheet" />
    <link href="/Content/JQueryTools/jNotify/jquery/jNotify.jquery.css" rel="stylesheet" />
    <link href="/Content/JQueryTools/Tags-Input/jquery.tagsinput.css" rel="stylesheet" />
    <link href="/Content/JQueryTools/uploadify/uploadify.css" rel="stylesheet" />


    <!--常用的一些组件业务脚本函数,放置此处方便脚本提示-->
    <script src="/Scripts/ComponentUtil.js"></script>
    <script type="text/javascript" src="/Scripts/outlook2.js"></script>

    <script type="text/javascript">

    </script>
</head>
<body>
    @RenderBody()
</body>
</html>
