<!DOCTYPE html>
<html>
<head>
    <title>终端参数管理</title>
    @using System.Web.Optimization;
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquerytools")
    @Styles.Render("~/Content/jquerytools")

    <!--常用的一些组件业务脚本函数,放置此处方便脚本提示-->
    <script src="../../Content/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Scripts/dbjs.js"></script>

    <script type="text/javascript">
        var sNvcVillage = "";
        var sVcBuilding = "";

        $(function () {
            InitGrid();
            GetMeterSettingInfo();
            initDeptTreeview();
        });

        var easyui_tree_options = {
            length: 0,  //层数
            getLevel: function (treeObj, node) {	//treeObj为tree的dom对象，node为选中的节点
                while (node != null) {
                    node = $(treeObj).tree('getParent', node.target)
                    easyui_tree_options.length++;
                }
                var length1 = easyui_tree_options.length;
                easyui_tree_options.length = 0;		//重置层数
                return length1;
            }
        }
        function GetMeterSettingInfo() {
            $('#MeterSettingInfo').combobox({
                url: '/ArcMeterInfo/GetParam_MeterConfigTreeJson_Server',
                valueField: 'id',
                textField: 'text',
                required: true,
            });
        }
        function initDeptTreeview() {
            $("#loading").show();
            $('#treeDept1').tree({
                url: '/ArcCustomerInfo/TreeCommunity_Server',
                onBeforeSelect: function (node) {
                    fujiText = node.text;
                },
                onClick: function (node) {
                    var Text = $("#treeDept1").tree("getParent", node.target);
                    var Treelevel = easyui_tree_options.getLevel(this, node);
                    var ParentText = "";
                    if (Treelevel == 4) {
                        ParentText = $("#treeDept1").tree("getParent", Text.target)
                    }
                    var queryData = {
                        "IntCustNO": $("#IntCustNO").val(),
                        WHC_Fuji: Text.text,
                        WHC_Text: node.text,
                        WHC_Treelevel: Treelevel.toString(),
                        WHC_TreePrentText: ParentText.text
                    };
                    InitGrid(queryData);
                }
            });
            $("#loading").fadeOut(500);
        }

        function getSelectVcAddr() {
            var rows = $('#gridSettingInfo').datagrid('getChecked');
            var sAddr = "";
            if (rows.length == 0) {
                showError("请先勾选水表!");
                return null;
            }
            for (var i = 0; i < rows.length; i++) {
                if (i == 0) {
                    sAddr = rows[i].VcAddr
                } else {
                    sAddr += "," + rows[i].VcAddr;
                }
            }
            if (sAddr == "") {
                showError("档案数据中无表号信息!");
                return null;
            }
            var MeterInfoTypeNo = $('#MeterSettingInfo').combobox('getValue');
            if (MeterInfoTypeNo == "" || MeterInfoTypeNo == null) {
                showError("选择需要下发的表参数类型!");
                return null;
            }
            SettingMeterInfo(sAddr, MeterInfoTypeNo);
        };

        function SettingMeterInfo(sAddr, MeterInfoTypeNo) {
            loading.show();
            $.ajax({
                url: '/ArcMeterInfo/SettingMeterInfo_Server',
                dataType: 'json',
                data: { sAddr: sAddr, sMeterInfoTypeNo: MeterInfoTypeNo },
                success: function (result) {
                    if (result.Success) {
                        loading.hide();
                        showTips("任务下发成功");
                        $('#gridSettingInfo').datagrid('uncheckAll');
                        $("#grid").datagrid("reload");
                    } else {
                        loading.hide();
                        showError("任务下发失败： " + result.showError);
                    }
                }
            });
            return false;
        }

        //信息查询
        function InitGrid(queryData) {
            $('#gridSettingInfo').datagrid({   //定位到Table标签，Table标签的ID是grid
                url: '/ArcMeterInfo/SettingMangger_Server',   //指向后台的Action来获取当前用户的信息的Json格式的数据
                height: document.body.clientHeight * 0.75,
                width: function () { return document.body.clien6tWidth * 0.8 - 20 },//自动宽度
                nowrap: true,
                autoRowHeight: true,
                striped: true,
                collapsible: true,
                pagination: true,
                pageSize: 50,
                pageList: [50, 100, 200],
                //singleSelect: true,
                rownumbers: true,
                //sortName: 'ID',    //根据某个字段给easyUI排序
                sortOrder: 'asc',
                remoteSort: false,
                //singleSelect: true,
                idField: 'intId', //不设置idField，翻页不会记录选择
                queryParams: queryData,  //异步查询的参数
                columns: [[
                    { field: 'ck', checkbox: true },   //选择
                    { title: '编号', field: 'intId', width: 60, sortable: true, hidden: true },
                    { title: '通信地址', field: 'VcAddr', width: 100, sortable: true },
                    { title: '客户编号', field: 'IntNo', width: 100, sortable: true },
                    { title: '用户名称', field: 'NvcName', width: 100, sortable: true },
                    { title: '用户小区', field: 'NvcVillage', width: 80, sortable: true },
                    { title: '用户楼栋', field: 'VcBuilding', width: 80, sortable: true },
                    { title: '用户单元', field: 'VcUnitNum', width: 80, sortable: true },
                    { title: '用户门牌号', field: 'VcRoomNum', width: 80, sortable: true },
                    { title: '用户电话', field: 'VcMobile', width: 120, sortable: true },
                
                    //{ title: '采样点', field: 'VcPoint', width: 80, hidden: true },
                    //{ title: '初始读数', field: 'VcInitReading', width: 80, hidden: true },
                    //{ title: '报警电压', field: 'VcAlertVolt', width: 80, hidden: true },
                    //{ title: '关阀电压', field: 'VcCloseVolt', width: 80, hidden: true },
                    { title: '应急用水(小时)', field: 'ChrAllowUsed', width: 80, hidden: true },
                    { title: '月冻结日', field: 'ChrFreezeDay', width: 80, hidden: true },
                    { title: '阀门维护时间(小时)', field: 'ChrValveMaint', width: 120, hidden: true },
                    { title: '定时上传时间', field: 'ChrUpTiming', width: 80, hidden: true },
                    {
                        title: '单位', field: 'ChrUpTimingUnit', width: 80, hidden: true, formatter: function (val) {
                            if (val == 1) return "分";
                            if (val == 2) return "小时";
                            if (val == 3) return "天";
                            else return val;
                        }
                    },
                    { title: '定量上传值', field: 'ChrUpAmount', width: 80, hidden: true },
                   // { title: '阀门运行时间', field: 'VcValveRuning', width: 80, hidden: true },
                    {
                        field: 'opt', title: '查看表端参数', width: 200, align: 'center',
                        formatter: function () {
                            var btn = '<a class="detail" onclick=" ShowDetail()"  href="javascript:void(0)">详情</a>';
                            return btn;
                        }
                    }]],
                onLoadSuccess: function () {
                    $('.detail').linkbutton({ text: '双击查看', plain: true, iconCls: 'icon-add' });
                },
                onDblClickRow: function (rowIndex, rowData) {
                    $('#gridSettingInfo').datagrid('uncheckAll');
                    $('#gridSettingInfo').datagrid('checkRow', rowIndex);
                    ShowEditOrViewDialog();
                }
            });
        };
        ShowDetail = function () {
          // ShowEditOrViewDialog();
        }
        //修改或查看明细信息（绑定显示数据）
        function ShowEditOrViewDialog() {
            //首先取出来用户选择的数据的ID
            var rows = $("#gridSettingInfo").datagrid("getSelections");
            BindEditInfo(rows[0]);
            $("#DivAdd").dialog('open').dialog('setTitle','用户名【'+rows[0].NvcName+'】表端参数信息');         
        }
        //绑定编辑详细信息的方法
        function BindEditInfo(info) {
            if (info == null) {
                showError("数据有误!");
                return false;
            }
            console.log(info);           
            $("#VcAllowUsed").val(info.ChrAllowUsed);
            $("#VcFreezeDay").val(info.ChrFreezeDay);
            $("#VcUpTiming").val(info.ChrUpTiming);
            $("#VcUpTimingUnit").combobox('setValue', info.ChrUpTimingUnit);
            $("#VcUpAmount").val(info.ChrUpAmount);
            $("#VcValveMaint").val(info.ChrValveMaint);
        }
        function Query() {
            var queryData = {
                WHC_IntNo: $("#txtIntNo").val(),
                WHC_NvcName: $("#txtNvcName").val(),
                WHC_NvcAddr: $("#txtNvcAddr").val(),
                WHC_VcMobile: $("#txtVcMobile").val()
            };
            InitGrid(queryData);
            return false;
        }
        //对象居中的函数，调用例子：$("#loading").center();
        jQuery.fn.center = function () {
            this.css("position", "absolute");
            this.css("top", Math.max(0, (($(window).height() - this.outerHeight()) / 2) +
                $(window).scrollTop()) + "px");
            this.css("left", Math.max(0, (($(window).width() - this.outerWidth()) / 2) +
                $(window).scrollLeft()) + "px");
            return this;
        }
    </script>
    <style>
        table.view {
            border: 1px solid #A8CFEB;
            border-collapse: collapse;
            margin-bottom: 5px;
            vertical-align: top;
            height: 98%;
            width: 98%;
        }

        .view th {
            padding-left: 10px;
            padding-right: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            height: 23px;
            width: 150px;
            border: 1px solid silver;
            background-color: #F1F6FF;
        }

        .view td {
            padding-left: 10px;
            padding-right: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            height: 23px;
            width: 150px;
            border: 1px solid silver;
            background-color: #FAFCFF;
        }

        .view input {
            width: 99%;
        }
    </style>
</head>
<body>
    <div id="loading" style="display: none;">
        <img alt="数据正在加载中..." src="~/Content/images/loading02.gif" />
    </div>
    <div class="easyui-layout" style="width: 700px; height: 700px;" fit="true">
        <div data-options="region:'west',split:true,title:'',iconCls:'icon-book'" style="width: 230px; padding: 1px;">
            <div class="easyui-tabs" style="width:200px;">
                <div title="用户列表" style="padding:10px;">
                    <ul id="treeDept1"></ul>
                </div>
            </div>
        </div>
        <div id="tbEdit" data-options="region:'center',split:true,title:'参数管理',iconCls:'icon-setting'" style="padding: 5px; height: auto">
            <fieldset id="condition">
                <legend>信息查询</legend>
                <div id="toolbar">
                    <table cellspacing="0" cellpadding="0">
                        <tr>
                            <th style='padding: 3px;'>
                                <label for="txtIntNo">客户编号：</label>
                            </th>
                            <td style='padding: 3px;'>
                                <input type="text" id="txtIntNo" class="easyui-numberbox" style="width: 100px" />
                            </td>
                            <th style='padding: 3px;'>
                                <label for="txtNvcName">客户姓名：</label>
                            </th>
                            <td style='padding:3px;'><input type="text" id="txtNvcName" style="width:100px" /></td>
                            <th style='padding:3px;'><label for="txtNvcAddr">客户地址：</label></th>
                            <td style='padding:3px;'><input type="text" id="txtNvcAddr" style="width:100px" /></td>
                            <th style='padding:3px;'><label for="txtVcMobile">移动号码：</label></th>
                            <td style='padding:3px;'><input type="text" id="txtVcMobile" class="easyui-numberbox" style="width:100px" /></td>
                            <td style='padding: 3px; text-align: right'>
                                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="btnSearch" onclick="Query()">查询</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
            <div id="divTab" class="easyui-tabs">
                <div id="divOpenClose" title="表参数下发" style="padding: 10px" data-options="iconCls:'icon-key'">
                    <div style="margin: 2px;">
                        <label for="txtNvcAddr">表参数类型：</label>
                        <select id="MeterSettingInfo" name="MeterSettingInfo" class="easyui-combobox" style="width: 100px;" data-options="required:true"></select>
                        <a href="#" style="width: 100px;" class="easyui-linkbutton" iconcls="icon-ok" name="btnSaveOpenClose" onclick="getSelectVcAddr()">下发指令</a>
                    </div>
                    <!-------------------------------详细信息展示表格----------------------------------->               
                    <table id="gridSettingInfo" style="width: 940px" title="用户信息" data-options="iconCls:'icon-view'"></table>
                </div>
            </div>
        </div>
    </div>
    <div style="display:none;">
        <!--------------------------添加信息的弹出层---------------------------->
        <div id="DivAdd" class="easyui-dialog" style="width:auto;height:auto;padding:5px 5px"
             closed="true" resizable="true" modal="true" data-options="iconCls: 'icon-add'">
            <form id="ffAdd" method="post" novalidate="novalidate">
                <table id="tblAdd" class="view">
                    @*<tr>
                        <th>
                            <label for="Point">采样点：</label>
                        </th>
                        <td>
                            <input type="text" id="VcPoint" name="VcPoint" class="text-info" style="width: 99%" maxlength="2" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" readonly />
                        </td>
                        <th>
                            <label for="InitReading">初始读数：</label>
                        </th>
                        <td>
                            <input type="text" id="VcInitReading" name="VcInitReading" style="width:99%;" maxlength="8" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" readonly />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="AlertVolt">报警电压：</label>
                        </th>
                        <td>
                            <input type="text" id="VcAlertVolt" name="VcAlertVolt" class="text-info" style="width: 99%" maxlength="4" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" readonly />
                        </td>
                        <th>
                            <label for="CloseVolt">关阀电压：</label>
                        </th>
                        <td>
                            <input type="text" id="VcCloseVolt" name="VcCloseVolt" style="width:99%;" maxlength="4" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" readonly />
                        </td>
                    </tr>*@
                    <tr>
                        <th>
                            <label for="addDteStart">月冻结日：</label>
                        </th>
                        <td>
                            <input type="text" id="VcFreezeDay" name="VcFreezeDay" class="text-info" style="width: 99%" maxlength="4" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" readonly />
                        </td>
                        <th>
                            <label for="addDteEnd">阀门维护时间(小时)：</label>
                        </th>
                        <td>
                            <input type="text" id="VcValveMaint" name="VcValveMaint" class="text-info" style="width: 99%" maxlength="4" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" readonly />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="ChrUpTiming">定时上传时间：</label>
                        </th>
                        <td>
                            <input type="text" id="VcUpTiming" name="VcUpTiming" class="text-info" style="width: 65%" maxlength="4" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" readonly />
                            <select id="VcUpTimingUnit" name="VcUpTimingUnit" class="easyui-combobox" style="width: 30%;">
                                <option value="1">分</option>
                                <option value="2">小时</option>
                                <option value="3">天</option>
                            </select>
                        </td>
                        <th style='padding: 3px;'>
                            <label for="ChrUpAmount">定量上传值：</label>
                        </th>
                        <td>
                            <input type="text" id="VcUpAmount" name="VcUpAmount" class="text-info" style="width: 99%" maxlength="4" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" readonly />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="ChrAllowUsed">应急用水时间：</label>
                        </th>
                        <td>
                            <input type="text" id="VcAllowUsed" name="VcAllowUsed" class="text-info" style="width: 99%" maxlength="2" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" readonly />
                        </td>
                        @*<th>
                            <label for="ValveRuning">阀门运行时间：</label>
                        </th>
                        <td>
                            <input type="text" id="VcValveRuning" name="VcValveRuning" class="text-info" style="width: 99%" maxlength="2" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" readonly />
                        </td>*@
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>
