@{
    ViewBag.Title = "客户联系人";
}

<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>客户联系人</title>
    @*添加Jquery EasyUI的样式*@
    <link href="~/Content/JqueryEasyUI/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/JqueryEasyUI/themes/icon.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/themes/Default/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/Default/default.css" rel="stylesheet" type="text/css" />

    @*添加Jquery，EasyUI和easyUI的语言包的JS文件*@
    <script type="text/javascript" src="~/Content/JqueryEasyUI/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/JqueryEasyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/Content/JqueryEasyUI/locale/easyui-lang-zh_CN.js"></script>

    @*日期格式的引用*@
    <script src="~/Content/datapattern.js"></script>

    @*添加对ckeditor的支持*@
    <script src="~/Content/JQueryTools/ckeditor/ckeditor.js"></script>
    <script src="~/Content/JQueryTools/ckeditor/adapters/jquery.js"></script>
  <script>
        function initEditor() {
	@*  $('#Content').ckeditor();
            $('#Content1').ckeditor(); *@
        }
    </script>

    <!--引用EasyUI扩展-->
    <link href="~/Content/JQueryTools/jQuery.easyui-extend/extend/themes/easyui.extend.css" rel="stylesheet" />
    <link href="~/Content/JQueryTools/jQuery.easyui-extend/extend/themes/icon.css" rel="stylesheet" />
    <script src="~/Content/JQueryTools/jQuery.easyui-extend/jquery.easyui.extend.min.js"></script>

    <script type="text/javascript">
    	var isAddOrEdit = 'add';//标识是新增还是编辑对话框弹出，用于删除附件的操作
    	
        $(function () {            
            initEditor();     //初始化CKEditor
            var queryData = {  };//可添加一些预设条件
            InitGrid(queryData);//初始化Datagrid表格数据 
            InitDictItem();   //初始化字典信息
            
            BindSearchEvent();//绑定查询按钮事件
            BindAddEvent();   //绑定添加按钮的事件
            //BindEditEvent();  //绑定修改按钮的事件

            BindSelectCustomerEvent();//选择客户窗口

            initTree();

        });
        //初始化事件的类型
        function initTree() {
            $('#editTree').tree({
                url: '/ContactGroup/GetGroupTreeJson?userid=' + "@Session["UserId"]",
                onClick: function (node) {
                    loadByGroupTree(node);
                }
            });
        }

        //绑定联系人分组信息
        function BindContactGroup(contactid) {
            $('#contactGroupTree').tree({
                url: '/ContactGroup/GetMyContactGroup?contactid=' + contactid + "&userid=" + "@Session["UserId"]",
                checkbox:true,
                onClick: function (node) {
                }
            });
        }

        //根据消息分组加载指定列表
        function loadByGroupTree(node) {

            //赋值给特殊字段，公司和部门查询的时候选择其中一个
            var queryParams = $('#grid').datagrid('options').queryParams;
            queryParams.CustomedCondition = "{ id: \"" + node.id +"\", groupname:\"" + node.text +"\", userid:\"" + @Session["UserId"] + "\" }";

            $("#grid").datagrid("reload");
            $('#grid').datagrid('uncheckAll');
        }

        //初始化字典信息
        function InitDictItem() {
            //$('#Titles').combotree({
            //    url: '/DictData/GetDictTreeJson?dictTypeName=职称',
            //    onClick: function (node) {
            //    }
            //});
            BindDictItem("Titles", "职称");
            BindDictItem("Rank", "职务");
            BindDictItem("Importance", "重要级别");
            BindDictItem("Recognition", "对公司认可程度");
            BindDictItem("InterestDemand", "客户利益诉求");
            BindDictItem("CareFocus", "客户关心重点");
            BindDictItem("ResponseDemand", "负责需求");
            BindDictItem("RelationShip", "与公司关系");
            BindDictItem("Nationality", "民族");
            BindDictItem("Political", "政治面貌");
            BindDictItem("JobType", "职业类型");
            BindDictItem("Eduction", "学历");
            BindDictItem("Animal", "属相");
            BindDictItem("Constellation", "星座");
            BindDictItem("MarriageStatus", "婚姻状况");
            BindDictItem("HealthCondition", "健康状况");
            BindDictItem("BodyType", "体型");
        }

        function BindDictItem(control, dictTypeName) {
            $('#' + control).combobox({
                url: '/DictData/GetDictJson?dictTypeName='+ dictTypeName,
                valueField: 'Value',
                textField: 'Text'
            });
        }

        //实现对DataGird控件的绑定操作
        function InitGrid(queryData) {
            $('#grid').datagrid({   //定位到Table标签，Table标签的ID是grid
                url: '/Contact/FindWithPager',   //指向后台的Action来获取当前用户的信息的Json格式的数据
                title: '客户联系人', 
                iconCls: 'icon-view',
                height: 650,
                width: function () { return document.body.clientWidth * 0.9 },//自动宽度
                nowrap: true,
                autoRowHeight: false,
                striped: true,
                collapsible: true,
                pagination: true,
                pageSize: 50,
                pageList: [50, 100, 200],
                rownumbers: true,
                //sortName: 'ID',    //根据某个字段给easyUI排序
                sortOrder: 'asc',
                remoteSort: false,
                idField: 'ID',
                queryParams: queryData,  //异步查询的参数
                columns: [[
	                { field: 'ck', checkbox: true },   //选择
                      { title: '姓名', field: 'Name', width: 80, sortable: true },
                      { title: '办公电话', field: 'OfficePhone', width: 80, sortable: true },
                      { title: '联系人手机', field: 'Mobile', width: 80, sortable: true },
                      { title: '联系人地址', field: 'Address', width: 80, sortable: true },
                      { title: '电子邮件', field: 'Email', width: 80, sortable: true },
                      { title: '备注', field: 'Note', width: 80, sortable: false },
                  ]],
                toolbar: [{
                    id: 'btnAdd',
                    text: '添加',
                    iconCls: 'icon-add',
                    handler: function () {                        
                        ShowAddDialog();//实现添加记录的页面
                    }
                }, '-', {
                    id: 'btnEdit',
                    text: '修改',
                    iconCls: 'icon-edit',
                    handler: function () {                        
                        ShowEditOrViewDialog();//实现修改记录的方法
                    }
                }, '-', {
                    id: 'btnDelete',
                    text: '删除',
                    iconCls: 'icon-remove',
                    handler: function () {                        
                        Delete();//实现直接删除数据的方法
                    }
                }, '-', {
                    id: 'btnView',
                    text: '查看',
                    iconCls: 'icon-table',
                    handler: function () {                        
                        ShowEditOrViewDialog("view");//实现查看记录详细信息的方法
                    }
                }, '-', {
                    id: 'btnReload',
                    text: '刷新',
                    iconCls: 'icon-reload',
                    handler: function () {
                        //实现刷新栏目中的数据
                        $("#grid").datagrid("reload");
                    }
                }],
                onDblClickRow: function (rowIndex, rowData) {
                    $('#grid').datagrid('uncheckAll');
                    $('#grid').datagrid('checkRow', rowIndex);
                    ShowEditOrViewDialog();
                }
            })
        };

        //绑定搜索按钮的的点击事件
        function BindSearchEvent() {
            //按条件进行查询数据，首先我们得到数据的值
            $("#btnSearch").click(function () {
                //得到用户输入的参数
                //取值有几种方式：$("#id").combobox('getValue'), $("#id").datebox('getValue'), $("#id").val(),combotree('getValue')
                //字段增加WHC_前缀字符，避免传递如URL这样的Request关键字冲突
                var queryData = {
                     WHC_Name: $("#txtName").val(),
                     WHC_OfficePhone: $("#txtOfficePhone").val(),
                     WHC_Mobile: $("#txtMobile").val(),
                     WHC_Address: $("#txtAddress").val(),
                     WHC_Email: $("#txtEmail").val(),
                     WHC_Note: $("#txtNote").val()
                  }
                //将值传递给
                InitGrid(queryData);
                return false;
            });
        }

        //实现删除数据的方法
        function Delete() {
            //得到用户选择的数据的ID
            var rows = $("#grid").datagrid("getSelections");
            if (rows.length >= 1) {
                //遍历出用户选择的数据的信息，这就是用户用户选择删除的用户ID的信息
                var ids = "";   //1,2,3,4,5
                for (var i = 0; i < rows.length; i++) {
                    ids += rows[i].ID + ",";
                }
                //最后去掉最后的那一个,
                ids = ids.substring(0, ids.length - 1);
                var postData = { Ids: ids };

                //然后确认发送异步请求的信息到后台删除数据
                $.messager.confirm("删除确认", "您确认删除选定的记录吗？", function (deleteAction) {
                    if (deleteAction) {
                        $.get("/Contact/DeletebyIds", postData, function (data) {
                            if (data == "true") {
                                $.messager.alert("提示", "删除选定的记录成功");
                                $("#grid").datagrid("reload");

                                //当删除完成之后，第二次删除的时候还记得上次的信息，这样是不可以的，所以我们需要清除第一次的信息                                
                                rows.length = "";//第一种方法                                
                                $("#grid").datagrid("clearSelections");//第二种方法
                            }
                            else {
                                $.messager.alert("提示", data);
                            }
                        });
                    }
                });
            }
            else {
                $.messager.alert("提示", "请选择你要删除的数据");
            }
        }

        //弹出新增对话框
        function ShowAddDialog() {
        	isAddOrEdit = 'add';//新增对话框标识
            //CKEDITOR.instances.Content.setData('');  //清空编辑器的数据
        	BindContactGroup("-1");
        	
            $("#DivAdd").dialog('open').dialog('setTitle', '添加信息');
        }

        //绑定选择客户按钮的事件
        function BindSelectCustomerEvent() {
            $("#btnSelectCustomer").click(function () {
                $.showWindow({
                    title: '选择客户',
                    useiframe: true,
                    width: 900,
                    height:700,
                    content: 'url:/Customer/SelectCustomer',
                    data: { id: $('#Customer_ID'), name: $('#Customer_Name') },
                    buttons: [{
                        text: '确认',
                        iconCls: 'icon-ok',
                        handler: 'doOK' //此方法在弹出页面中
                    }, {
                        text: '取消',
                        iconCls: 'icon-cancel',
                        handler: function (win) {
                            win.close();
                        }
                    }],
                    onLoad: function (win, content) {
                        //window打开时调用，初始化form内容
                        if (content) {
                            content.doInit(win);
                        }
                    }
                });
            });
        }

        //绑定添加按钮的事件
        function BindAddEvent() {
            $("#btnAddOK").click(function () {
                //判断表单的信息是否通过验证
                var validate = $("#ffAdd").form('validate');
                if (validate == false) {
                    return false;
                }

                var postData = $("#ffAdd").serializeArray();
                $.post("/Contact/Insert", postData, function (data) {
                    if (data = "true") {
                        //添加成功  1.关闭弹出层，2.刷新DataGird
                        $.messager.alert("提示", "添加成功");
                        $("#DivAdd").dialog("close");
                        $("#grid").datagrid("reload");
                        $("#ffAdd").form("clear");
                    }
                    else {
                        $.messager.alert("提示", "添加失败，请您检查");
                    }
                }).error(function () {
                    $.messager.alert("提示", "您未被授权使用该功能，请联系管理员进行处理。", 'warning');
                });
            });
        }
        
        //修改或查看明细信息（绑定显示数据）
        function ShowEditOrViewDialog(view) {
            //首先取出来用户选择的数据的ID
            var rows = $("#grid").datagrid("getSelections");
            //首先取出来值判断用户只能选择一个
            if (rows.length == 0) {
                $.messager.alert("提示", "请选择一条记录", "error");
                return;
            }
            else if (rows.length > 1) {
                $.messager.alert("提示", "每次只能修改/查看一条记录，你已经选择了<font color='red'  size='6'>" + rows.length + "</font>条", "error");
                return;
            }
            if (view == null) {
                //处理修改的信息
                $("#DivEdit").dialog('open').dialog('setTitle', '修改信息');
                //绑定修改详细信息的方法
                BindEditInfo();
            }
            else {
                //处理查看详细
                $("#DivView").dialog('open').dialog('setTitle', '查看详细信息');
                //绑定查看详细信息方法
                BindViewInfo();
            }
        }
        
        //绑定编辑详细信息的方法
        function BindEditInfo() {
            //首先用户发送一个异步请求去后台实现方法
            var ID = $("#grid").datagrid("getSelections")[0].ID;  //获取到了用用户选择的ID
            $.getJSON("/Contact/FindByID?r=" + Math.random() + "&id=" + ID, function (info) {
            //赋值有几种方式：.datebox('setValue', info.Birthday);.combobox('setValue', info.Status);.val(info.Name);.combotree('setValue', info.PID);
                $("#ID1").val(info.ID);
                $("#Customer_ID1").val(info.Customer_ID);
                $("#HandNo1").val(info.HandNo);
                $("#Name1").val(info.Name);
                $("#IDCarNo1").val(info.IDCarNo);
                $("#Birthday1").datebox('setValue', info.Birthday);
                $("#Sex1").combobox('setValue', info.Sex);//combotree('setValue', info.Sex);
                $("#OfficePhone1").val(info.OfficePhone);
                $("#HomePhone1").val(info.HomePhone);
                $("#Fax1").val(info.Fax);
                $("#Mobile1").val(info.Mobile);
                $("#Address1").val(info.Address);
                $("#ZipCode1").val(info.ZipCode);
                $("#Email1").val(info.Email);
                $("#QQ1").val(info.QQ);
                $("#Note1").val(info.Note);
                $("#Seq1").val(info.Seq);
                $("#AttachGUID1").val(info.AttachGUID);
                $("#Province1").combobox('setValue', info.Province);//combotree('setValue', info.Province);
                $("#City1").combobox('setValue', info.City);//combotree('setValue', info.City);
                $("#District1").combobox('setValue', info.District);//combotree('setValue', info.District);
                $("#Hometown1").combobox('setValue', info.Hometown);//combotree('setValue', info.Hometown);
                $("#HomeAddress1").val(info.HomeAddress);
                $("#Nationality1").combobox('setValue', info.Nationality);//combotree('setValue', info.Nationality);
                $("#Eduction1").combobox('setValue', info.Eduction);//combotree('setValue', info.Eduction);
                $("#GraduateSchool1").val(info.GraduateSchool);
                $("#Political1").combobox('setValue', info.Political);//combotree('setValue', info.Political);
                $("#JobType1").combobox('setValue', info.JobType);//combotree('setValue', info.JobType);
                $("#Titles1").combobox('setValue', info.Titles);//combotree('setValue', info.Titles);
                $("#Rank1").combobox('setValue', info.Rank);//combotree('setValue', info.Rank);
                $("#Department1").val(info.Department);
                $("#Hobby1").val(info.Hobby);
                $("#Animal1").combobox('setValue', info.Animal);//combotree('setValue', info.Animal);
                $("#Constellation1").combobox('setValue', info.Constellation);//combotree('setValue', info.Constellation);
                $("#MarriageStatus1").combobox('setValue', info.MarriageStatus);//combotree('setValue', info.MarriageStatus);
                $("#HealthCondition1").combobox('setValue', info.HealthCondition);//combotree('setValue', info.HealthCondition);
                $("#Importance1").combobox('setValue', info.Importance);//combotree('setValue', info.Importance);
                $("#Recognition1").combobox('setValue', info.Recognition);//combotree('setValue', info.Recognition);
                $("#RelationShip1").combobox('setValue', info.RelationShip);//combotree('setValue', info.RelationShip);
                $("#ResponseDemand1").val(info.ResponseDemand);
                $("#CareFocus1").val(info.CareFocus);
                $("#InterestDemand1").val(info.InterestDemand);
                $("#BodyType1").combobox('setValue', info.BodyType);//combotree('setValue', info.BodyType);
                $("#Smoking1").combobox('setValue', info.Smoking);//combotree('setValue', info.Smoking);
                $("#Drink1").combobox('setValue', info.Drink);//combotree('setValue', info.Drink);
                $("#Height1").val(info.Height);
                $("#Weight1").val(info.Weight);
                $("#Vision1").val(info.Vision);
                $("#Introduce1").val(info.Introduce);
                $("#Creator1").val(info.Creator);
                $("#CreateTime1").datebox('setValue', info.CreateTime);
                $("#Editor1").val(info.Editor);
                $("#EditTime1").datebox('setValue', info.EditTime);
                $("#Deleted1").val(info.Deleted);
                $("#Dept_ID1").val(info.Dept_ID);
                $("#Company_ID1").val(info.Company_ID);
 
				isAddOrEdit = 'edit';//新增对话框标识    
            });
        }

        //绑定查看详细信息的方法
        function BindViewInfo() {
            var ID = $("#grid").datagrid('getSelections')[0].ID;            
            //发送请求
            $.getJSON("/Contact/FindByID?r=" + Math.random() + "&id=" + ID, function (info) {
                $("#ID2").text(info.ID);
                $("#Customer_ID2").text(info.Customer_ID);
                $("#HandNo2").text(info.HandNo);
                $("#Name2").text(info.Name);
                $("#IDCarNo2").text(info.IDCarNo);
                $("#Birthday2").text(info.Birthday);
                $("#Sex2").text(info.Sex);
                $("#OfficePhone2").text(info.OfficePhone);
                $("#HomePhone2").text(info.HomePhone);
                $("#Fax2").text(info.Fax);
                $("#Mobile2").text(info.Mobile);
                $("#Address2").text(info.Address);
                $("#ZipCode2").text(info.ZipCode);
                $("#Email2").text(info.Email);
                $("#QQ2").text(info.QQ);
                $("#Note2").text(info.Note);
                $("#Seq2").text(info.Seq);
                $("#AttachGUID2").text(info.AttachGUID);
                $("#Province2").text(info.Province);
                $("#City2").text(info.City);
                $("#District2").text(info.District);
                $("#Hometown2").text(info.Hometown);
                $("#HomeAddress2").text(info.HomeAddress);
                $("#Nationality2").text(info.Nationality);
                $("#Eduction2").text(info.Eduction);
                $("#GraduateSchool2").text(info.GraduateSchool);
                $("#Political2").text(info.Political);
                $("#JobType2").text(info.JobType);
                $("#Titles2").text(info.Titles);
                $("#Rank2").text(info.Rank);
                $("#Department2").text(info.Department);
                $("#Hobby2").text(info.Hobby);
                $("#Animal2").text(info.Animal);
                $("#Constellation2").text(info.Constellation);
                $("#MarriageStatus2").text(info.MarriageStatus);
                $("#HealthCondition2").text(info.HealthCondition);
                $("#Importance2").text(info.Importance);
                $("#Recognition2").text(info.Recognition);
                $("#RelationShip2").text(info.RelationShip);
                $("#ResponseDemand2").text(info.ResponseDemand);
                $("#CareFocus2").text(info.CareFocus);
                $("#InterestDemand2").text(info.InterestDemand);
                $("#BodyType2").text(info.BodyType);
                $("#Smoking2").text(info.Smoking);
                $("#Drink2").text(info.Drink);
                $("#Height2").text(info.Height);
                $("#Weight2").text(info.Weight);
                $("#Vision2").text(info.Vision);
                $("#Introduce2").text(info.Introduce);
                $("#Creator2").text(info.Creator);
                $("#CreateTime2").text(info.CreateTime);
                $("#Editor2").text(info.Editor);
                $("#EditTime2").text(info.EditTime);
                $("#Deleted2").text(info.Deleted);
                $("#Dept_ID2").text(info.Dept_ID);
                $("#Company_ID2").text(info.Company_ID); 
            });
        }

        //绑定修改按钮的事件
        function BindEditEvent() {
            $("#btnEditOK").click(function () {
                //判断表单的信息是否通过验证
                var validate = $("#ffEdit").form("validate");
                if (validate == false) {
                    return false;
                }

                //构造参数发送给后台
                var ID = $("#ID1").val();
                var postData = $("#ffEdit").serializeArray();
                $.post("/Contact/Update?ID=" + ID, postData, function (date) {
                    if (date == "true") {
                        //修改成功，关闭弹出层，刷新DataGird
                        $.messager.alert("提示", "修改成功");
                        $("#DivEdit").dialog('close');
                        $("#grid").datagrid("reload");
                    }
                    else {
                        $.messager.alert("提示", "修改失败，请您检查");
                    }
                }).error(function () {
                    $.messager.alert("提示", "您未被授权使用该功能，请重新登录测试或联系管理员进行处理。", 'warning');
                });
            });
        }
    </script>

    <style>
        table.view {border:1px solid #A8CFEB;border-collapse: collapse;margin-bottom:5px;width:99%;height:99%}
        .view th{ padding-left:10px;padding-right:5px;padding-top:5px;padding-bottom:5px;width: 100px;border: 1px solid silver;background-color:#F1F6FF;}
        .view td{ padding-left:10px;padding-right:5px;padding-top:5px;padding-bottom:5px;width: 150px;border: 1px solid silver;background-color:#FAFCFF;}
    </style>
    </head>
<body>
    <div id="loading" style="display: none;"><img alt="数据正在加载中..." src="~/Content/images/loading02.gif" /></div>
    <div class="easyui-layout" style="width:700px;height:700px;" fit="true">
        <div data-options="region:'west',split:true,title:'联系人分组',iconCls:'icon-book'" style="width: 250px;height:auto; padding: 1px;">
            <div title="联系人分组" data-options="iconCls:'icon-group-key'" style="padding:5px;height:auto">
                <div style="height:700px">
                    <ul id="editTree"></ul>
                </div>
		    </div>
        </div>
        <div id="tb" data-options="region:'center',title:'',iconCls:'icon-book'" style="padding:5px;height:auto"> 
            <!-------------------------------搜索框----------------------------------->
            <fieldset>
                <legend>信息查询</legend>
                <form id="ffSearch" method="post">
		            <div style="margin-bottom:5px">
                         <label for="txtName">姓名：</label>
                        <input type="text" ID="txtName" name="txtName" style="width:100px"  />&nbsp;&nbsp;&nbsp;
                         <label for="txtOfficePhone">办公电话：</label>
                        <input type="text" ID="txtOfficePhone" name="txtOfficePhone" style="width:100px"  />&nbsp;&nbsp;&nbsp;
                         <label for="txtMobile">联系人手机：</label>
                        <input type="text" ID="txtMobile" name="txtMobile" style="width:100px"  />&nbsp;&nbsp;&nbsp;
                         <label for="txtAddress">联系人地址：</label>
                        <input type="text" ID="txtAddress" name="txtAddress" style="width:100px"  />&nbsp;&nbsp;&nbsp;
                         <label for="txtEmail">电子邮件：</label>
                        <input type="text" ID="txtEmail" name="txtEmail" style="width:100px"  />&nbsp;&nbsp;&nbsp;
                         <label for="txtNote">备注：</label>
                        <input type="text" ID="txtNote" name="txtNote" style="width:100px"  />&nbsp;&nbsp;&nbsp;
                          <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="btnSearch">查询</a>
                    </div>

                </form>
            </fieldset>
                
            <!-------------------------------详细信息展示表格----------------------------------->
            <table id="grid" style="width: 940px" title="用户操作" data-options="iconCls:'icon-view'">            
            </table>
        </div>
    </div>

    <!--------------------------添加信息的弹出层---------------------------->
    <div id="DivAdd" class="easyui-dialog" style="width:900px;height:700px;padding:10px 20px"
			closed="true" resizable="true" modal="true" data-options="iconCls: 'icon-add',buttons: '#dlg-buttons'">
        <div class="easyui-layout">
        <form id="ffAdd" method="post" novalidate="novalidate">
            <div id="tabAdd" class="easyui-tabs" >
                <div title="联系人基本信息" data-options="iconCls:'icon-view'"  style="padding:5px 5px">
                    <table>
                        <tr>
                            <td>                            
                                <table id="tblAdd1" class="view">                    
                                    <tr> 
                                        <th>
                                            <label for="Customer_ID">客户名称：</label>
                                        </th>
                                        <td colspan="3">
                                            <input class="easyui-validatebox" style="width:300px" readonly="readonly" style="background-color:peachpuff" type="text" id="Customer_Name" name="Customer_Name" />
                                            <input type="hidden" style="width:300px" id="Customer_ID" name="Customer_ID" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                            <a href="javascript:void(0)" class="easyui-linkbutton" id="btnSelectCustomer" iconcls="icon-search">选择客户</a>
                                        </td>
                                    </tr>
                                    <tr>                                                
                                        <th>
                                            <label for="HandNo">编号：</label>
                                        </th>
                                        <td>
                                            <input class="easyui-validatebox" type="text" id="HandNo" name="HandNo" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>
                                         <th>
                                            <label for="Seq">排序序号：</label>
                                        </th>
                                        <td>
                                            <input class="easyui-validatebox" type="text" id="Seq" name="Seq" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>
                                    </tr>
                                    <tr> 
                                        <th>
                                            <label for="Name">姓名：</label>
                                        </th>
                                        <td>
                                            <input class="easyui-validatebox" type="text" id="Name" name="Name" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>
 
                                        <th>
                                            <label for="IDCarNo">身份证号码：</label>
                                        </th>
                                        <td>
                                            <input class="easyui-validatebox" type="text" id="IDCarNo" name="IDCarNo" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>
                                    </tr>
                                    <tr> 
                                        <th>
                                            <label for="Birthday">出生日期：</label>
                                        </th>
                                        <td>
                                            <input class="easyui-datebox" type="text" id="Birthday" name="Birthday" /> <!-- data-options="required:true" -->
                                        </td>
 
                                        <th>
                                            <label for="Sex">性别：</label>
                                        </th>
                                        <td>
                                            <select class="easyui-combobox" id="Sex" name="Sex" style="width:120px;">
                                                <option>男</option>
                                                <option>女</option>  
                                            </select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>
                                    </tr>
                                    <tr>
                                         <th>
                                            <label for="Rank">职务：</label>
                                        </th>
                                        <td>
                                            <select class="easyui-combobox" id="Rank" name="Rank" style="width:120px;" ></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>
                                          <th>
                                            <label for="Titles">职称：</label>
                                        </th>
                                        <td>
                                            <select class="easyui-combobox" id="Titles" name="Titles" style="width:120px;" ></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>
                                    </tr>
                                    <tr>
                                         <th>
                                            <label for="Department">所在部门：</label>
                                        </th>
                                        <td>
                                            <input class="easyui-validatebox" type="text" id="Department" name="Department" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>
                                        <th>
                                            <label for="OfficePhone">办公电话：</label>
                                        </th>
                                        <td>
                                            <input class="easyui-validatebox" type="text" id="OfficePhone" name="OfficePhone" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>                         
                                    </tr>
                                    <tr> 
                                        <th>
                                            <label for="Fax">传真：</label>
                                        </th>
                                        <td>
                                            <input class="easyui-validatebox" type="text" id="Fax" name="Fax" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>
                                        <th>
                                            <label for="HomePhone">家庭电话：</label>
                                        </th>
                                        <td>
                                            <input class="easyui-validatebox" type="text" id="HomePhone" name="HomePhone" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>
                                   </tr>
                                    <tr> 
                                        <th>
                                            <label for="Mobile">联系人手机：</label>
                                        </th>
                                        <td colspan ="3">
                                            <input class="easyui-validatebox" type="text" id="Mobile" name="Mobile" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>
                                    </tr>
                                    <tr> 
                                        <th>
                                            <label for="Address">联系人地址：</label>
                                        </th>
                                        <td colspan="3">
                                            <input class="easyui-validatebox" style="width:400px" type="text" id="Address" name="Address" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>
                                    </tr>
                                    <tr>  
                                        <th>
                                            <label for="QQ">QQ号码：</label>
                                        </th>
                                        <td>
                                            <input class="easyui-validatebox" type="text" id="QQ" name="QQ" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>
                                        <th>
                                            <label for="Email">电子邮件：</label>
                                        </th>
                                        <td>
                                            <input class="easyui-validatebox" type="text" id="Email" name="Email" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>
                                    </tr>
                                    <tr> 
                                        <th>
                                            <label for="Note">备注：</label>
                                        </th>
                                        <td colspan="3">
                                            <textarea class="easyui-validatebox" style="width:400px;height:50px" id="Note" name="Note" ></textarea> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>                        
                                    </tr>                                       
                                    <tr> 
                                        <th>
                                            <label for="Importance">重要级别：</label>
                                        </th>
                                        <td>
                                            <select class="easyui-combobox" id="Importance" name="Importance"  style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>
                                        <th>
                                            <label for="Recognition">认可程度：</label>
                                        </th>
                                        <td>
                                            <select class="easyui-combobox" id="Recognition" name="Recognition" style="width:120px;" ></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label for="RelationShip">关系：</label>
                                        </th>
                                        <td colspan="3">
                                            <select class="easyui-combobox" id="RelationShip" name="RelationShip" style="width:120px;" ></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td> 
                                    </tr>
                                    <tr> 
                                        <th>
                                            <label for="ResponseDemand">负责需求：</label>
                                        </th>
                                        <td colspan="3">
                                            <input class="easyui-combobox" type="text" id="ResponseDemand" name="ResponseDemand" style="width:300px;" data-options="multiple:true,panelHeight:'auto'"/> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>
                                    </tr>
                                    <tr> 
                                        <th>
                                            <label for="CareFocus">关心重点：</label>
                                        </th>
                                        <td colspan="3">
                                            <input class="easyui-combobox" type="text" id="CareFocus" name="CareFocus" style="width:300px;" data-options="multiple:true,panelHeight:'auto'"/> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>
                                    </tr>
                                    <tr> 
                                        <th>
                                            <label for="InterestDemand">利益诉求：</label>
                                        </th>
                                        <td colspan="3">
                                            <input class="easyui-combobox" type="text" id="InterestDemand" name="InterestDemand" style="width:300px;" data-options="multiple:true,panelHeight:'auto'"/> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label for="AttachGUID">附件组别ID：</label>
                                        </th>
                                        <td colspan="3">
                                            <input class="easyui-validatebox" type="text" id="AttachGUID" name="AttachGUID" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:260px;vertical-align:top">
                                <div id="tabContactGroupOfAdd" class="easyui-tabs"  style="width:260px;height:600px">
                                    <div title="联系人分组" data-options="iconCls:'icon-view'"  style="padding:5px 5px">
                                        <ul id="contactGroupTree" class="easyui-tree"></ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div title="其他相关信息" style="padding:5px;height:auto" data-options="iconCls:'icon-key'" >
                    <table id="tblAdd2" class="view">                                               
                        <tr>      
                            <th>
                                <label for="Province">所在省份：</label>
                            </th>
                            <td>
                                <select class="easyui-combobox" id="Province" name="Province"  style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td>
                            <th>
                                <label for="City">城市：</label>
                            </th>
                            <td>
                                <select class="easyui-combobox" id="City" name="City"  style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="District">所在行政区：</label>
                            </th>
                            <td>
                                <select class="easyui-combobox" id="District" name="District"  style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td>
                            <th>
                                <label for="Hometown">籍贯：</label>
                            </th>
                            <td>
                                <select class="easyui-combobox" id="Hometown" name="Hometown"  style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="HomeAddress">家庭住址：</label>
                            </th>
                            <td>
                                <input class="easyui-validatebox" type="text" id="HomeAddress" name="HomeAddress" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td>                       
                            <th>
                                <label for="ZipCode">邮政编码：</label>
                            </th>
                            <td>
                                <input class="easyui-validatebox" type="text" id="ZipCode" name="ZipCode" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td>
                        </tr>
                        <tr> 
                            <th>
                                <label for="Nationality">民族：</label>
                            </th>
                            <td>
                                <select class="easyui-combobox" id="Nationality" name="Nationality"  style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td>
 
                            <th>
                                <label for="Eduction">教育程度：</label>
                            </th>
                            <td>
                                <select class="easyui-combobox" id="Eduction" name="Eduction"  style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td>
                        </tr>
                        <tr> 
                            <th>
                                <label for="GraduateSchool">毕业学校：</label>
                            </th>
                            <td>
                                <input class="easyui-validatebox" type="text" id="GraduateSchool" name="GraduateSchool" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td>
 
                            <th>
                                <label for="Political">政治面貌：</label>
                            </th>
                            <td>
                                <select class="easyui-combobox" id="Political" name="Political"  style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td>
                        </tr>
                        <tr>
                             <th>
                                <label for="JobType">职业类型：</label>
                            </th>
                            <td>
                                <select class="easyui-combobox" id="JobType" name="JobType"  style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td>                       
                            <th>
                                <label for="Hobby">爱好：</label>
                            </th>
                            <td>
                                <input class="easyui-validatebox" type="text" id="Hobby" name="Hobby"  style="width:120px;"/> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td>
                        </tr>
                        <tr> 
                            <th>
                                <label for="Animal">属相：</label>
                            </th>
                            <td>
                                <select class="easyui-combobox" id="Animal" name="Animal" style="width:120px;" ></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td> 
                            <th>
                                <label for="Constellation">星座：</label>
                            </th>
                            <td>
                                <select class="easyui-combobox" id="Constellation" name="Constellation" style="width:120px;" ></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td>

                        </tr>
                        <tr>
                            <th>
                                <label for="MarriageStatus">婚姻状态：</label>
                            </th>
                            <td>
                                <select class="easyui-combobox" id="MarriageStatus" name="MarriageStatus"  style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td>
                            <th>
                                <label for="HealthCondition">健康状况：</label>
                            </th>
                            <td>
                                <select class="easyui-combobox" id="HealthCondition" name="HealthCondition" style="width:120px;" ></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td> 
                        </tr>
                        <tr>
 
                            <th>
                                <label for="BodyType">体型：</label>
                            </th>
                            <td>
                                <select class="easyui-combobox" id="BodyType" name="BodyType"  style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td> 
                            <th>
                                <label for="Smoking">吸烟：</label>
                            </th>
                            <td>
                                <select class="easyui-combobox" id="Smoking" name="Smoking"  style="width:120px;">
                                    <option>吸烟</option>
                                    <option>不吸烟</option>
                                </select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="Drink">喝酒：</label>
                            </th>
                            <td>
                                <select class="easyui-combobox" id="Drink" name="Drink"  style="width:120px;">
                                    <option>喝酒</option>
                                    <option>少喝酒</option>
                                    <option>不喝酒</option>
                                </select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td> 
                            <th>
                                <label for="Height">身高：</label>
                            </th>
                            <td>
                                <input class="easyui-validatebox" type="text" id="Height" name="Height" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td>  
                        </tr>
                        <tr> 
                            <th>
                                <label for="Weight">体重：</label>
                            </th>
                            <td>
                                <input class="easyui-validatebox" type="text" id="Weight" name="Weight" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td> 
                            <th>
                                <label for="Vision">视力：</label>
                            </th>
                            <td>
                                <input class="easyui-validatebox" type="text" id="Vision" name="Vision" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td>
                        </tr>
                        <tr> 
                            <th>
                                <label for="Introduce">个人简述：</label>
                            </th>
                            <td colspan="3">
                                <textarea class="easyui-validatebox" style="width:400px;height:50px" id="Introduce" name="Introduce" ></textarea> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td>
                        </tr>
                        <tr> 
                            <th>
                                <label for="Creator">创建人：</label>
                            </th>
                            <td>
                                <input class="easyui-validatebox" readonly="readonly" style="background-color:peachpuff" type="text" id="Creator" name="Creator" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td>
 
                            <th>
                                <label for="CreateTime">创建时间：</label>
                            </th>
                            <td>
                                <input class="easyui-datebox" readonly="readonly" style="background-color:peachpuff" type="text" id="CreateTime" name="CreateTime" /> <!-- data-options="required:true" -->
                            </td>
                        </tr>
                        <tr> 
                            <th>
                                <label for="Editor">编辑人：</label>
                            </th>
                            <td>
                                <input class="easyui-validatebox" readonly="readonly" style="background-color:peachpuff" type="text" id="Editor" name="Editor" /> <!-- data-options="required:true,validType:'length[1,50]'" -->
                            </td>
 
                            <th>
                                <label for="EditTime">编辑时间：</label>
                            </th>
                            <td>
                                <input class="easyui-datebox" readonly="readonly" style="background-color:peachpuff" type="text" id="EditTime" name="EditTime" /> <!-- data-options="required:true" -->
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div style="text-align:right; padding-top:10px">
                <a href="javascript:void(0)" class="easyui-linkbutton" id="btnAddOK" iconcls="icon-ok">确定</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#DivAdd').dialog('close')">关闭</a>
            </div>
         </form>
        </div>        
    </div>

    <!--------------------------编辑信息的弹出层---------------------------->
    <div id="DivEdit" class="easyui-dialog" style="width:680px;height:500px;padding:10px 20px"
			closed="true" resizable="true" modal="true" data-options="iconCls: 'icon-edit',buttons: '#dlg-buttons'">
        <form id="ffEdit" method="post" novalidate="novalidate">
                <table id="tblEdit" class="view">
                    <tr> 
                        <th>
                            <label for="Customer_ID1">客户ID：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="Customer_ID1" name="Customer_ID" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
 
                        <th>
                            <label for="HandNo1">编号：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="HandNo1" name="HandNo" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Name1">姓名：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="Name1" name="Name" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
 
                        <th>
                            <label for="IDCarNo1">身份证号码：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="IDCarNo1" name="IDCarNo" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Birthday1">出生日期：</label>
                        </th>
                        <td>
                            <input class="easyui-datebox" type="text" id="Birthday1" name="Birthday" /> <!-- data-options="required:true" -->
                        </td>
 
                        <th>
                            <label for="Sex1">性别：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="Sex1" name="Sex" style="width:120px;">
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="OfficePhone1">办公电话：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="OfficePhone1" name="OfficePhone" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
 
                        <th>
                            <label for="HomePhone1">家庭电话：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="HomePhone1" name="HomePhone" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Fax1">传真：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="Fax1" name="Fax" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
 
                        <th>
                            <label for="Mobile1">联系人手机：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="Mobile1" name="Mobile" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Address1">联系人地址：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="Address1" name="Address" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
 
                        <th>
                            <label for="ZipCode1">邮政编码：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="ZipCode1" name="ZipCode" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Email1">电子邮件：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="Email1" name="Email" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
 
                        <th>
                            <label for="QQ1">QQ号码：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="QQ1" name="QQ" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Note1">备注：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="Note1" name="Note" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
 
                        <th>
                            <label for="Seq1">排序序号：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="Seq1" name="Seq" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="AttachGUID1">附件组别ID：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="AttachGUID1" name="AttachGUID" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
 
                        <th>
                            <label for="Province1">所在省份：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="Province1" name="Province" style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="City1">城市：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="City1" name="City" style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
 
                        <th>
                            <label for="District1">所在行政区：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="District1" name="District" style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Hometown1">籍贯：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="Hometown1" name="Hometown" style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
 
                        <th>
                            <label for="HomeAddress1">家庭住址：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="HomeAddress1" name="HomeAddress" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Nationality1">民族：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="Nationality1" name="Nationality" style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
 
                        <th>
                            <label for="Eduction1">教育程度：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="Eduction1" name="Eduction" style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="GraduateSchool1">毕业学校：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="GraduateSchool1" name="GraduateSchool" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
 
                        <th>
                            <label for="Political1">政治面貌：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="Political1" name="Political" style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="JobType1">职业类型：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="JobType1" name="JobType" style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
 
                        <th>
                            <label for="Titles1">职称：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="Titles1" name="Titles" style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Rank1">职务：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="Rank1" name="Rank" ></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
 
                        <th>
                            <label for="Department1">所在部门：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="Department1" name="Department" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Hobby1">爱好：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="Hobby1" name="Hobby" style="width:120px;"/> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
 
                        <th>
                            <label for="Animal1">属相：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="Animal1" name="Animal" style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Constellation1">星座：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="Constellation1" name="Constellation" style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
 
                        <th>
                            <label for="MarriageStatus1">婚姻状态：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="MarriageStatus1" name="MarriageStatus" style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="HealthCondition1">健康状况：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="HealthCondition1" name="HealthCondition" style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
 
                        <th>
                            <label for="Importance1">重要级别：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="Importance1" name="Importance" style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Recognition1">认可程度：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="Recognition1" name="Recognition" style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
 
                        <th>
                            <label for="RelationShip1">关系：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="RelationShip1" name="RelationShip" style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="ResponseDemand1">负责需求：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="ResponseDemand1" name="ResponseDemand" style="width:120px;"/> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
 
                        <th>
                            <label for="CareFocus1">关心重点：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="CareFocus1" name="CareFocus" style="width:120px;"/> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="InterestDemand1">利益诉求：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="InterestDemand1" name="InterestDemand" style="width:120px;"/> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
 
                        <th>
                            <label for="BodyType1">体型：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="BodyType1" name="BodyType" style="width:120px;"></select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Smoking1">吸烟：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="Smoking1" name="Smoking" style="width:120px;">
                                <option>吸烟</option>
                                <option>不吸烟</option>
                            </select>
                            <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
 
                        <th>
                            <label for="Drink1">喝酒：</label>
                        </th>
                        <td>
                            <select class="easyui-combobox" id="Drink1" name="Drink" style="width:120px;">
                                <option>喝酒</option>
                                <option>少喝酒</option>
                                <option>不喝酒</option>
                            </select> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Height1">身高：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="Height1" name="Height" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
 
                        <th>
                            <label for="Weight1">体重：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="Weight1" name="Weight" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Vision1">视力：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="Vision1" name="Vision" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
 
                        <th>
                            <label for="Introduce1">个人简述：</label>
                        </th>
                        <td>
                            <textarea class="easyui-validatebox" style="width:400px;height:100px" id="Introduce1" name="Introduce" ></textarea> <!-- data-options="required:true,validType:'length[1,50]'" -->
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Creator1">创建人：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="Creator1" name="Creator" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
 
                        <th>
                            <label for="CreateTime1">创建时间：</label>
                        </th>
                        <td>
                            <input class="easyui-datebox" type="text" id="CreateTime1" name="CreateTime" /> <!-- data-options="required:true" -->
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Editor1">编辑人：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="Editor1" name="Editor" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
 
                        <th>
                            <label for="EditTime1">编辑时间：</label>
                        </th>
                        <td>
                            <input class="easyui-datebox" type="text" id="EditTime1" name="EditTime" /> <!-- data-options="required:true" -->
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Deleted1">是否已删除：</label>
                        </th>
                        <td>
                            <input class="easyui-numberbox" type="text" id="Deleted1" name="Deleted" /> <!-- data-options="required:true,validType:'length[1,5]'" -->
                        </td>
 
                        <th>
                            <label for="Dept_ID1">所属部门：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="Dept_ID1" name="Dept_ID" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Company_ID1">所属公司：</label>
                        </th>
                        <td>
                            <input class="easyui-validatebox" type="text" id="Company_ID1" name="Company_ID" /> <!--data-options="required:true,validType:'length[1,50]'"--> 
                        </td>
 
                    </tr>
 
                    <tr>
                        <td colspan="4" style="text-align:right; padding-top:10px">
                            <input type="hidden" id="ID1" name="ID" />
                            <a href="javascript:void(0)" class="easyui-linkbutton" id="btnEditOK" data-options="iconCls: 'icon-ok'" >确定</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls: 'icon-cancel'" onclick="javascript:$('#DivEdit').dialog('close')">关闭</a>
                        </td>
                    </tr>
                </table>
        </form>
    </div>

    <!--------------------------查看详细信息的弹出层---------------------------->
    <div id="DivView" class="easyui-dialog" style="width:680px;height:500px;padding:10px 20px"
			closed="true" resizable="true" modal="true" data-options="iconCls: 'icon-view',buttons: '#dlg-buttons'">
        <form id="ffView" method="post" novalidate="novalidate">
                <table id="tblView" class="view">
                    <tr>
 
                        <th>
                            <label for="Customer_ID2">客户ID：</label>
                        </th>
                        <td>
                            <label id="Customer_ID2" />
                        </td>
 
                        <th>
                            <label for="HandNo2">编号：</label>
                        </th>
                        <td>
                            <label id="HandNo2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Name2">姓名：</label>
                        </th>
                        <td>
                            <label id="Name2" />
                        </td>
 
                        <th>
                            <label for="IDCarNo2">身份证号码：</label>
                        </th>
                        <td>
                            <label id="IDCarNo2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Birthday2">出生日期：</label>
                        </th>
                        <td>
                            <label id="Birthday2" />
                        </td>
 
                        <th>
                            <label for="Sex2">性别：</label>
                        </th>
                        <td>
                            <label id="Sex2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="OfficePhone2">办公电话：</label>
                        </th>
                        <td>
                            <label id="OfficePhone2" />
                        </td>
 
                        <th>
                            <label for="HomePhone2">家庭电话：</label>
                        </th>
                        <td>
                            <label id="HomePhone2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Fax2">传真：</label>
                        </th>
                        <td>
                            <label id="Fax2" />
                        </td>
 
                        <th>
                            <label for="Mobile2">联系人手机：</label>
                        </th>
                        <td>
                            <label id="Mobile2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Address2">联系人地址：</label>
                        </th>
                        <td>
                            <label id="Address2" />
                        </td>
 
                        <th>
                            <label for="ZipCode2">邮政编码：</label>
                        </th>
                        <td>
                            <label id="ZipCode2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Email2">电子邮件：</label>
                        </th>
                        <td>
                            <label id="Email2" />
                        </td>
 
                        <th>
                            <label for="QQ2">QQ号码：</label>
                        </th>
                        <td>
                            <label id="QQ2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Note2">备注：</label>
                        </th>
                        <td>
                            <label id="Note2" />
                        </td>
 
                        <th>
                            <label for="Seq2">排序序号：</label>
                        </th>
                        <td>
                            <label id="Seq2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="AttachGUID2">附件组别ID：</label>
                        </th>
                        <td>
                            <label id="AttachGUID2" />
                        </td>
 
                        <th>
                            <label for="Province2">所在省份：</label>
                        </th>
                        <td>
                            <label id="Province2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="City2">城市：</label>
                        </th>
                        <td>
                            <label id="City2" />
                        </td>
 
                        <th>
                            <label for="District2">所在行政区：</label>
                        </th>
                        <td>
                            <label id="District2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Hometown2">籍贯：</label>
                        </th>
                        <td>
                            <label id="Hometown2" />
                        </td>
 
                        <th>
                            <label for="HomeAddress2">家庭住址：</label>
                        </th>
                        <td>
                            <label id="HomeAddress2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Nationality2">民族：</label>
                        </th>
                        <td>
                            <label id="Nationality2" />
                        </td>
 
                        <th>
                            <label for="Eduction2">教育程度：</label>
                        </th>
                        <td>
                            <label id="Eduction2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="GraduateSchool2">毕业学校：</label>
                        </th>
                        <td>
                            <label id="GraduateSchool2" />
                        </td>
 
                        <th>
                            <label for="Political2">政治面貌：</label>
                        </th>
                        <td>
                            <label id="Political2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="JobType2">职业类型：</label>
                        </th>
                        <td>
                            <label id="JobType2" />
                        </td>
 
                        <th>
                            <label for="Titles2">职称：</label>
                        </th>
                        <td>
                            <label id="Titles2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Rank2">职务：</label>
                        </th>
                        <td>
                            <label id="Rank2" />
                        </td>
 
                        <th>
                            <label for="Department2">所在部门：</label>
                        </th>
                        <td>
                            <label id="Department2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Hobby2">爱好：</label>
                        </th>
                        <td>
                            <label id="Hobby2" />
                        </td>
 
                        <th>
                            <label for="Animal2">属相：</label>
                        </th>
                        <td>
                            <label id="Animal2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Constellation2">星座：</label>
                        </th>
                        <td>
                            <label id="Constellation2" />
                        </td>
 
                        <th>
                            <label for="MarriageStatus2">婚姻状态：</label>
                        </th>
                        <td>
                            <label id="MarriageStatus2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="HealthCondition2">健康状况：</label>
                        </th>
                        <td>
                            <label id="HealthCondition2" />
                        </td>
 
                        <th>
                            <label for="Importance2">重要级别：</label>
                        </th>
                        <td>
                            <label id="Importance2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Recognition2">认可程度：</label>
                        </th>
                        <td>
                            <label id="Recognition2" />
                        </td>
 
                        <th>
                            <label for="RelationShip2">关系：</label>
                        </th>
                        <td>
                            <label id="RelationShip2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="ResponseDemand2">负责需求：</label>
                        </th>
                        <td>
                            <label id="ResponseDemand2" />
                        </td>
 
                        <th>
                            <label for="CareFocus2">关心重点：</label>
                        </th>
                        <td>
                            <label id="CareFocus2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="InterestDemand2">利益诉求：</label>
                        </th>
                        <td>
                            <label id="InterestDemand2" />
                        </td>
 
                        <th>
                            <label for="BodyType2">体型：</label>
                        </th>
                        <td>
                            <label id="BodyType2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Smoking2">吸烟：</label>
                        </th>
                        <td>
                            <label id="Smoking2" />
                        </td>
 
                        <th>
                            <label for="Drink2">喝酒：</label>
                        </th>
                        <td>
                            <label id="Drink2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Height2">身高：</label>
                        </th>
                        <td>
                            <label id="Height2" />
                        </td>
 
                        <th>
                            <label for="Weight2">体重：</label>
                        </th>
                        <td>
                            <label id="Weight2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Vision2">视力：</label>
                        </th>
                        <td>
                            <label id="Vision2" />
                        </td>
 
                        <th>
                            <label for="Introduce2">个人简述：</label>
                        </th>
                        <td>
                            <label id="Introduce2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Creator2">创建人：</label>
                        </th>
                        <td>
                            <label id="Creator2" />
                        </td>
 
                        <th>
                            <label for="CreateTime2">创建时间：</label>
                        </th>
                        <td>
                            <label id="CreateTime2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Editor2">编辑人：</label>
                        </th>
                        <td>
                            <label id="Editor2" />
                        </td>
 
                        <th>
                            <label for="EditTime2">编辑时间：</label>
                        </th>
                        <td>
                            <label id="EditTime2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Deleted2">是否已删除：</label>
                        </th>
                        <td>
                            <label id="Deleted2" />
                        </td>
 
                        <th>
                            <label for="Dept_ID2">所属部门：</label>
                        </th>
                        <td>
                            <label id="Dept_ID2" />
                        </td>
                    </tr>
                    <tr>
 
                        <th>
                            <label for="Company_ID2">所属公司：</label>
                        </th>
                        <td>
                            <label id="Company_ID2" />
                        </td>
 
                    </tr>
 
                    <tr>
                        <td colspan="4" style="text-align:right; padding-top:10px">
                            <input type="hidden" id="ID2" />
                            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls: 'icon-cancel'" onclick="javascript:$('#DivView').dialog('close')">关闭</a>
                        </td>
                    </tr>
                </table>
        </form>
    </div>
</body>
</html>
